<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (exam(); as examRef) {
      <div>
        <h2 data-cy="examDetailsHeading"><span jhiTranslate="uniSchedulerApp.exam.detail.title">Exam</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ examRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="uniSchedulerApp.exam.name">Name</span></dt>
          <dd>
            <span>{{ examRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="uniSchedulerApp.exam.durationMinutes">Duration Minutes</span></dt>
          <dd>
            <span>{{ examRef.durationMinutes }}</span>
          </dd>
          <dt><span jhiTranslate="uniSchedulerApp.exam.expectedStudents">Expected Students</span></dt>
          <dd>
            <span>{{ examRef.expectedStudents }}</span>
          </dd>
          <dt><span jhiTranslate="uniSchedulerApp.exam.course">Course</span></dt>
          <dd>
            @if (exam()!.course) {
              <div>
                <a [routerLink]="['/course', exam()!.course?.id, 'view']">{{ examRef.course?.code }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="uniSchedulerApp.exam.studentGroup">Student Group</span></dt>
          <dd>
            @if (exam()!.studentGroup) {
              <div>
                <a [routerLink]="['/student-group', exam()!.studentGroup?.id, 'view']">{{ examRef.studentGroup?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/exam', examRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
