<div>
  <h2 id="page-heading" data-cy="ScheduleConflictHeading">
    <span jhiTranslate="uniSchedulerApp.scheduleConflict.home.title">Schedule Conflicts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="uniSchedulerApp.scheduleConflict.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-schedule-conflict"
        [routerLink]="['/schedule-conflict/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="uniSchedulerApp.scheduleConflict.home.createLabel">Create a new Schedule Conflict</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (scheduleConflicts().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="uniSchedulerApp.scheduleConflict.home.notFound">No Schedule Conflicts found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="conflictType">
              <div class="d-flex">
                <span jhiTranslate="uniSchedulerApp.scheduleConflict.conflictType">Conflict Type</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="uniSchedulerApp.scheduleConflict.description">Description</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="severity">
              <div class="d-flex">
                <span jhiTranslate="uniSchedulerApp.scheduleConflict.severity">Severity</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="timetableVersion.versionNumber">
              <div class="d-flex">
                <span jhiTranslate="uniSchedulerApp.scheduleConflict.timetableVersion">Timetable Version</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (scheduleConflict of scheduleConflicts(); track trackId(scheduleConflict)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/schedule-conflict', scheduleConflict.id, 'view']">{{ scheduleConflict.id }}</a>
              </td>
              <td [jhiTranslate]="'uniSchedulerApp.ConflictType.' + (scheduleConflict.conflictType ?? 'null')">
                {{
                  {
                    null: '',
                    PROFESSOR_CLASH: 'PROFESSOR_CLASH',
                    GROUP_CLASH: 'GROUP_CLASH',
                    ROOM_CLASH: 'ROOM_CLASH',
                    CAPACITY_VIOLATION: 'CAPACITY_VIOLATION',
                    EQUIPMENT_MISMATCH: 'EQUIPMENT_MISMATCH',
                  }[scheduleConflict.conflictType ?? 'null']
                }}
              </td>
              <td>{{ scheduleConflict.description }}</td>
              <td [jhiTranslate]="'uniSchedulerApp.ConflictSeverity.' + (scheduleConflict.severity ?? 'null')">
                {{ { null: '', HARD: 'HARD', SOFT: 'SOFT' }[scheduleConflict.severity ?? 'null'] }}
              </td>
              <td>
                @if (scheduleConflict.timetableVersion) {
                  <div>
                    <a [routerLink]="['/timetable-version', scheduleConflict.timetableVersion.id, 'view']">{{
                      scheduleConflict.timetableVersion.versionNumber
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/schedule-conflict', scheduleConflict.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/schedule-conflict', scheduleConflict.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(scheduleConflict)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (scheduleConflicts().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
