<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (department(); as departmentRef) {
      <div>
        <h2 data-cy="departmentDetailsHeading"><span jhiTranslate="uniSchedulerApp.department.detail.title">Department</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ departmentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="uniSchedulerApp.department.name">Name</span></dt>
          <dd>
            <span>{{ departmentRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="uniSchedulerApp.department.code">Code</span></dt>
          <dd>
            <span>{{ departmentRef.code }}</span>
          </dd>
          <dt><span jhiTranslate="uniSchedulerApp.department.faculty">Faculty</span></dt>
          <dd>
            @if (department()!.faculty) {
              <div>
                <a [routerLink]="['/faculty', department()!.faculty?.id, 'view']">{{ departmentRef.faculty?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/department', departmentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
