.navbar-version {
  font-size: 0.68rem;
}

.profile-image {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar-title,
.navbar-version,
.nav-link,
.dropdown-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
