<div>
  <h2 id="page-heading" data-cy="RoomHeading">
    <span jhiTranslate="uniSchedulerApp.room.home.title">Rooms</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="uniSchedulerApp.room.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-room"
        [routerLink]="['/room/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="uniSchedulerApp.room.home.createLabel">Create a new Room</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (rooms().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="uniSchedulerApp.room.home.notFound">No Rooms found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="uniSchedulerApp.room.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="uniSchedulerApp.room.code">Code</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="capacity">
              <div class="d-flex">
                <span jhiTranslate="uniSchedulerApp.room.capacity">Capacity</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="roomType">
              <div class="d-flex">
                <span jhiTranslate="uniSchedulerApp.room.roomType">Room Type</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="equipment">
              <div class="d-flex">
                <span jhiTranslate="uniSchedulerApp.room.equipment">Equipment</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="building.name">
              <div class="d-flex">
                <span jhiTranslate="uniSchedulerApp.room.building">Building</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (room of rooms(); track trackId(room)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/room', room.id, 'view']">{{ room.id }}</a>
              </td>
              <td>{{ room.name }}</td>
              <td>{{ room.code }}</td>
              <td>{{ room.capacity }}</td>
              <td [jhiTranslate]="'uniSchedulerApp.RoomType.' + (room.roomType ?? 'null')">
                {{ { null: '', LECTURE: 'LECTURE', LABORATORY: 'LABORATORY', SEMINAR: 'SEMINAR', EXAM: 'EXAM' }[room.roomType ?? 'null'] }}
              </td>
              <td>{{ room.equipment }}</td>
              <td>
                @if (room.building) {
                  <div>
                    <a [routerLink]="['/building', room.building.id, 'view']">{{ room.building.name }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/room', room.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/room', room.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(room)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (rooms().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
